*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav#menu ul {
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 900px;
}
nav#menu{
    display: block;
}
nav#menu li{
    display: inline-block;
    background-color: chocolate;
    padding: 10px
}
body {
    background-color: chocolate;
}
header {
    background-color: antiquewhite;
    padding-top: 70px;
    padding-bottom: 60px;
    position: relative;
}
/*Psedoclasses para estilização de menu de navegação*/
nav#menu a:link{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}
nav#menu a:visited{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}
nav#menu a:hover{
    color: rgb(248, 190, 143);
}
nav#menu li:hover{
    background-color: rgb(109, 53, 14);
}

/* Manipulação de imagens do projeto, na página produtos */
.produtos img{
    max-width: 300px;

}
.produtos p{
    color: rgb(238, 202, 173);
}
.precoDesc{
    font-size: 25px;
}