*{
    margin: 0;
    padding: 0;
}

nav#menu ul {
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 900px;
}
nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
    background-color: chocolate;
    padding: 10px
}

body {
    background-color: chocolate;
}

header {
    background-color: antiquewhite;
    padding-top: 70px;
    padding-bottom: 60px;
    position: relative;
}